<h2>

<span style="color: red; animation: blink 1s infinite;" >YOU ARE NOT AUTHORIZED TO ACCESS THIS PAGE! PLEASE, CONTACT THE ADMINISTRATOR!</span>
<span style='font-size:100px;animation: blink 1s infinite'>&#9940;</span>
</h2>
<style>
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

@keyframes blink {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
</style>